octopusProducts/migrations
env
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log

*.log
*.pot
*.pyc
local_settings.py

node_modules

.DS_Store
PGDATA
logfile

webScraper/.ropeproject

static/*
bin/*