.btn-orange{
	.btn;
	&, &:hover{
		background-color: @orange!important;
		border: 1px solid @dark-orange;
		color:white!important;
		text-shadow:0 1px 1px rgba(0,0,0,0.3);
	}
}

.btn-gray{
	.btn;
	&, &:hover{
		background-color: #F6F6F6!important;
		border: 1px solid #C9C9C9;
		color:black!important;
	}
}

.btn-red{
	.btn;
	&, &:hover{
		background-color: @red !important;
		border: 1px solid #B16060;
		color: white!important;
		text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
	}
}

.btn-login{
	.btn-gray;
	.navbar-btn;
	padding: 8px 13px!important;
	margin: 11px 10px!important;
}

.btn-cta{
	.btn-orange;
	border-radius: 5px;
	width: 250px;
	height: 62px;
	font-size: 18px;
	border: 1px solid #E9BC79;
	font-family: @arvo;
}

.btn-next  {
	.btn-orange;
	font-size: 24px;
	width: 300px;
	padding: 10px 0px!important;
	margin-top: 28px;
}


.btn-quantity{
	.input-group-addon;
}

.btn-close{
	cursor:pointer;
	text-align: right;
	height: 30px;
}

.btn-transfer{
	.btn-orange;
}

.btn-onboarding{
	.btn-orange;
	.btn-lg;
	width: 100%;
}
