.btn-orange{
	.btn;
	&, &:hover{
		background-color: @orange!important;
		border: 1px solid #E9BC79;
		color:white!important;
		text-shadow:0 1px 1px rgba(0,0,0,0.3);
	}
}

.btn-gray{
	.btn;
	&, &:hover{
		background-color: #F6F6F6!important;
		border: 1px solid #C9C9C9;
		color:black!important;
	}
}

.btn-login{
	.btn-gray;
	.navbar-btn;
	padding: 8px 13px!important;
	margin: 11px 10px!important;
}

.btn-cta{
	.btn-orange;
	border-radius: 5px;
	width: 250px;
	height: 62px;
	font-size: 18px;
	border: 1px solid #E9BC79;
	margin-top: 80px;
	font-family: @arvo;
}

.btn-next  {
	.btn-round(50px);
	.btn-gray;
	font-size: 24px;
	padding:0!important;
	float: right;
	i{
		padding-top: 10px!important;
	}
}


.btn-quantity{
	.input-group-addon;
	// .btn-gray;
	// color:black;
	// padding: 0px 0px 5px 0px!important;
	// margin: 0px 10px;
}

.btn-close{
	cursor:pointer;
	text-align: right;
	height: 30px;
}

.btn-transfer{
	.btn-orange;
}

.btn-onboarding{
	.btn-orange;
	.btn-lg;
	width: 100%;
}
