@media (max-width: 768px) {

    body{
        padding-top: @header-height-mobile;
    }

    .navbar{
        height: @header-height-mobile;

        .navbar-brand{
            padding: 11px 0px!important;
        }

        img{
            height: 24px!important;
        }

        .profile-link{
            height:50px!important;
        }
    }

    .disclaimer{

        .disclaimer-quote{
            padding-top: 50px!important;
        }

        img{
            width: 100%!important;
            height: 100%!important;
        }

        button{
            margin-left: 0!important;
            margin-right: 0!important;
        }

        .col-md-5{
            padding-top: 10px;
        }
    }


}

@media (max-width: 1200px) {
    .beta-container{

        .btn-register-beta{
            margin-left: 0px;
            margin-top: 10px;
        }

        p{
            padding-top: 75px!important;
            max-width: 300px;
        }

        p, .beta-form{
            line-height: 23px;
            padding: 40px 0px;
        }
    }

}
