@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Arvo&subset=latin);
@import url(https://fonts.googleapis.com/css?family=Pacifico);

// Base colors
//------------------------------------

@orange: #F6CD5B;
@dark-orange: #E9BC79;
@blue:#3892E3;
@normal-gray: #d3d3d3;
@light-gray: #F7F7F7;
@dark-gray: #525252;
@red:#E96F69;

// Layout
//------------------------------------

@header-height: 60px;
@basket-bar-height:60px;
@footer-height: 50px;
@gray-border: 1px solid @normal-gray;
@height-search-item: 90px;
@product-size: 150px;

// Font
//------------------------------------

@arvo: Arvo, Helvetica;
@font-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);

// Img
//------------------------------------
@logo-ratio: 702/246; // width/height
