<!DOCTYPE html>
{% load staticfiles %}
{% load verbatim %}

<html ng-app="App">
<head>
	<title>Octopus</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">


  {% if debug %}
	<link rel="stylesheet/less" href="{% static "bootstrap/less/bootstrap.less" %}" media="screen">
	<link rel="stylesheet/less" href="{% static "less/style.less" %}" media="screen"> 
	<script type="text/javascript" src="{% static "lib/less.js" %}"></script>

  {% else %}
  <link rel="stylesheet/css" href="{% static "bootstrap/css/boostrap.css" %}"> 
  <link rel="stylesheet/css" href="{% static "css/style.css" %}"> 
  {% endif %} 
	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src=" {% static "html5shiv/dist/html5shiv.js" %}"></script>
      <script src=" {% static "respond/dest/respond.min.js" %}"></script>
  <![endif]-->

    </head>
    <body>
      
      {% csrf_token %}
        
      <div id="wrap">
        <nav class="navbar navbar-default" role="navigation">
         
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand navbar-brand-logo" href="/"> <i class="glyphicon glyphicon-home"></i></a>
          </div>
          
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right" ng-controller="NavigationController" ng-cloak>
              <li><a href="#/login" class="btn btn-orange btn-login" ng-hide="userIsLoggedIn()" >Login</a></li>
              <li><a class="btn btn-orange btn-login" ng-click="logout()" ng-show="userIsLoggedIn()" >Logout</a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </nav>
        

        <div ng-view></div>

      </div>
      <footer>
        <p>Contact us via <a href="https://twitter.com/basketttco">Twitter</a></p>
      </footer>
      <script src="{% static "jquery/jquery.min.js" %}"></script>
      <script src="{% static "angular/angular.min.js" %}"></script>
      <script src="{% static "angular-route/angular-route.min.js" %}"></script>
      <script src="{% static "angular-sanitize/angular-sanitize.min.js" %}"></script>
      <script src="{% static "angular-cookies/angular-cookies.min.js" %}"></script>
      <script src="{% static "angular-local-storage/angular-local-storage.min.js" %}"></script>


      <script src="{% static "app/js/app.js" %}"></script>
      <script src="{% static "app/js/controllers.js" %}"></script>
      <script src="{% static "app/js/services.js" %}"></script>
      <script src="{% static "app/js/directives.js" %}"></script>
      <script src="{% static "app/js/filters.js" %}"></script>


    </body>
    </html>