@media (max-width: 768px) {

    .col-md-7{
        padding-top: 80px!important;
    }
    .col-md-5{
        padding-top: 30px!important;
        padding-bottom: 80px!important;
    }
}

.disclaimer{
    text-align: center;
    background: @orange;
    -webkit-font-smoothing: antialiased;
    background-image: -webkit-radial-gradient(75% 111%, ellipse cover, #FEFAD2, @orange);
    // background: #F6C45B;
    // background: #FEF8BD;
    // background-image: -o-radial-gradient(75% 111%, rgba(254,248,189,0.44) 35%, rgba(254,248,190,0.44) 40%, rgba(255,255,255,0.34) 44%, #F6C45B 82%);
    // background-image: -moz-radial-gradient(75% 111%, rgba(254,248,189,0.44) 35%, rgba(254,248,190,0.44) 40%, rgba(255,255,255,0.34) 44%, #F6C45B 82%);
    // background-image: -webkit-radial-gradient(75% 111%, rgba(254,248,189,0.44) 35%, rgba(254,248,190,0.44) 40%, rgba(255,255,255,0.34) 44%, #F6C45B 82%);
    // background-image: -ms-radial-gradient(75% 111%, rgba(254,248,189,0.44) 35%, rgba(254,248,190,0.44) 40%, rgba(255,255,255,0.34) 44%, #F6C45B 82%);
    // background-image: radial-gradient(75% 111%, rgba(254,248,189,0.44) 35%, rgba(254,248,190,0.44) 40%, rgba(255,255,255,0.34) 44%, #F6C45B 82%);
    .col-md-7,.col-md-5{
        padding:100px 0px;
    }

    .col-md-5{
        img{
            height: 400px;
            width:588px;
        }
        padding-bottom: 0px!important;
    }
    .disclaimer-quote{
        text-shadow:@font-shadow;
        .center;
        padding: 20px 50px 40px 50px;

        h1{
            margin-top: 0!important;
            font-family: Avenir-Book;
            text-align: center!important;
            font-size: 36px;
            color: @dark-gray;
            line-height: 49px;
        }

        .btn-learn-more, .btn-try-now{
            margin-top: 40px;
            .btn;
            font-family: @montserrat;
            font-size: 16px;
            -webkit-font-smoothing: antialiased;
            text-transform: uppercase;
            height:70px;
            width: 159px;
            border-radius: 5px;
        }

        .btn-learn-more{
            margin-left: 20px;
            color: @dark-gray;
            background: transparent;
            border: 3px solid @dark-gray;

            // &:hover{
            //     background: @orange;
            //     border-color: @orange;
            // }
        }

        .btn-try-now{
            margin-right: 20px;
            color: @dark-orange;
            border: 3px solid @dark-orange;
            background: @cream;
        }
    }
}

.features{
    text-align: center;
    background-color: white;

    .motto{
        padding: 87px 0px;
        font-family: Avenir-Book;
        font-size: 24px;
        color: @dark-gray;
        line-height: 40px;
    }

    hr{
        margin:0px 20px;
    }

    p{
        padding-top: 30px;
        max-width: 250px;
        text-align: center;
        .center;
    }
    span{
        font-size: 40px;
    }
    .glyphicon{
        font-size: 40px;
        width: 100px;
        height: 100px;
        border-radius: 50% 50%;
        background: rgb(68, 68, 68);
        color: white;
        padding-top: 30px;
    }
}

.beta-container{

    background: @cream;
    min-height: 170px;

    p{
        font-family: Avenir-Roman;
        font-size: 19px;
        color: @dark-gray;
        line-height: 170px;
    }

    .beta-form{
        .form-inline;
        line-height: 170px;
        float: right;
    }

    .beta-email{
        .form-control;
        border-radius: 5px;
        background: white;
        border: 3px solid @dark-orange;
        width:305px;
        height:51px;
        font-family: @montserrat;
        font-size: 16px;
        color: @dark-orange;
        line-height: 19px;
    }

    .btn-register-beta{
        .btn-trans-gray;
        height: 51px;
        width:150px;
        margin-left: 15px;
    }

    .beta-alert{
        width: 250px;
        .alert;
        .alert-info;
    }
}


