.disclaimer{
    text-align: center;
    background: url("/static/img/cover4.png");
    background-position: -100px -60px;
    border-bottom: @gray-border;
    padding:100px 0px 50px 0px;
    -webkit-font-smoothing: antialiased;
    &:after{
        background: -webkit-radial-gradient(top center, ellipse cover, rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.5) 100%);
    }

    h3{
        font-family: Futura;
        color:gray;
    }

    .disclaimer-logo{
        background: url("/static/img/logo.svg");
        background-size: 325px 130px;
        width: 325px;
        height: 130px;
        .center;
    }

    .disclaimer-quote{
        font-size: 21px;
        color: white;
        text-shadow: @font-shadow;
        -webkit-font-smoothing: antialiased;
        .center;
    }
}

.features{
    padding: 70px 0px;
    text-align: center;
    background-color: white;
    p{
        padding-top: 30px;
        max-width: 250px;
        text-align: center;
        .center;
    }
    span{
        font-size: 40px;
    }
    .glyphicon{
        font-size: 40px;
    }
}

.beta{
    text-align: center;

    .title{
        font-size: 24px;
        padding-bottom: 20px;
    }

    .form-control{
        width: 250px;
        .center;
    }

    background-color: @light-gray;
    border-top: @gray-border;
    padding: 50px 0px;

    .result{
        padding-top: 20px;
    }
}

