// Onboarding
//------------------------------------
.onboard-container{
}

.onboard-title{
    font-family: @montserrat;
    font-size: 48px;
    color: black;
    padding-top: 80px;
    text-align: center;
}

.onboard-instruction{

    padding-top: 80px;
    header{
        padding-left: 85px;
    }

    font-family: Helvetica;
    font-size: 24px;
    line-height: 51px;
    color: @dark-gray;
    text-align: left;

    .number{
        height: 51px;
        width: 51px;
        border: 3px solid @dark-gray;
        float: left;
        border-radius: 50% 50%;
        font-family: @montserrat;
        text-align: center;
    }


}

.slider {
    width: 100%;
    max-width: 800px;
    padding: 2em;
    border: 1px solid #f0f0f0;
    margin: 2em;
}

.onboard-box{
    display: inline-block;
    width: 300px;
    margin: 10px 20px;
    background: #fafafa;
    border: 3px solid #D4D4D4;

    p{
        text-align: center;
        margin-bottom: 0px !important;
        padding: 25px 0px;
        font-size: 16px;
        color: #686868;
        font-family: @montserrat;
        text-transform: uppercase;
        .center;
    }

}

.onboard-image{
    text-align: center;
    cursor: pointer;
    img{
        height: auto;
        width: 268px;
        padding-top: 12px;
        .center;
    }

    &:hover{
        opacity:0.8;
    }
}

.onboard-cuisine{
    .center;
    padding-top: 50px;
    // max-width: 800px;
}

.next-container{
    text-align: center;
    margin-bottom: 20px;
}

.choice-box{
    max-width: 400px;
    padding:30px;
    .center;
    border: @gray-border;
    border-top-width: 3px;
    margin-bottom: 30px;

    .logo{
        font-family: 'Pacifico';
        font-size: 35px;
        text-align: center;
        border-bottom: 0;
        .center;
        margin-bottom: 20px;
    }

    ul{
        padding-left: 0!important;
    }

    li{
        text-align: right;
        list-style-type: none;
        border-bottom: @gray-border;

        input{
            text-align: left;
            float: left;
            border-radius: 0;
            margin-top: 16px;
        }
    }
}
