// Onboarding
//------------------------------------
.onboard-progress-bar{
    text-align: center;

    li.progress-box{
        list-style-type: none;
        display: inline-block;
        width: 40px;
        height:40px;
        border-radius: 2px;
        font-family: Futura;
        font-size: 20px;
        color: black;
        text-shadow: 0px 1px 1px rgba(0,0,0,0.26);
        line-height: 1.8;
        margin: 74px 10px 50px 10px;
        background: #F6F6F6;
        border: 1px solid #C9C9C9;
        color: #888888;
    }

    .active{
        background: #F6CD5A!important;
        border: 1px solid #CEA75F!important;
        color: white!important;
    }

    .onboard-next, .onboard-previous{
        list-style-type: none;
        display: inline-block;
    }

}

.onboard-title{
    font-family: 'Montserrat';
    font-size: 24px;
    color: #4A494A;
    text-align: center;
    margin-bottom: 40px;
    display: inline-block;
    line-height: 2.5;

    input.onboard-people{
        display: inline-block;
        width: 50px!important;
        font-size: 20px;
    }

    input.onboard-money{
        display: inline-block;
        width: 80px!important;
        font-size: 20px;
    }

}

.onboard-box{
    float: left;
    width: 33.33333%;

    p{
        text-align: center;
        padding: 20px 0px;
        font-size: 19px;
        color: #686868;
    }

}

.onboard-image{

    text-align: center;
    cursor: pointer;
    img{
        height: auto;
        width: 250px;
        border-radius: 10px;
        border: 3px solid #CACACA;
        .center;
    }

    &:hover{
        opacity:0.8;
    }
}

.next-container{
    margin-top: 183px;
}
