// Onboarding
//------------------------------------
.onboard-container{

    .btn-container{
        width: 100%;
        text-align: center;
    }
    .btn-onboarding{
        margin: 80px auto;
    }
}

.onboard-title{
    font-family: @montserrat;
    font-size: 48px;
    color: black;
    padding-top: 80px;
    text-align: center;
}

.onboard-instruction{

    padding-top: 80px;
    header{
        padding-left: 85px;
    }

    font-family: Helvetica;
    font-size: 24px;
    line-height: 51px;
    color: @dark-gray;
    text-align: left;

    .number{
        height: 51px;
        width: 51px;
        border: 3px solid @dark-gray;
        float: left;
        border-radius: 50% 50%;
        font-family: @montserrat;
        text-align: center;
    }


}

.slider {
    width:100%;
    max-width: 650px;
    padding: 30px 0px;
    .center;

    .label-left, .label-right{
        display: inline-block;
        padding: 30px 0px;
        font-family: Helvetica;
        font-size: 24px;
        color: #4A4A4A;
    }

    .label-right{
        float: right;
    }

    .ui-widget-content{
        border: 3px solid #9B9B9B;
    }

    .ui-slider-horizontal{
        height: 20px;
        .ui-slider-handle {
            top: -17px;
        }
    }

    .ui-corner-all{
        border-radius:0;
    }

    .ui-state-default{
        border: 3px solid @orange;
        height: 50px;
        background: white;
    }
}

.onboard-box{
    display: inline-block;
    width: 300px;
    margin: 10px 20px;
    background: #fafafa;
    border: 3px solid #D4D4D4;

    p{
        text-align: center;
        margin-bottom: 0px !important;
        padding: 25px 0px;
        font-size: 16px;
        color: #686868;
        font-family: @montserrat;
        text-transform: uppercase;
        .center;
    }

}

.onboard-image{
    text-align: center;
    cursor: pointer;
    img{
        height: auto;
        width: 268px;
        padding-top: 12px;
        .center;
    }

    &:hover{
        opacity:0.8;
    }
}

.onboard-cuisine{
    .center;
    padding-top: 50px;
}


.onboard-diet{
    padding-top: 20px;
    padding-left: 85px;

    font-family: Helvetica;
    font-size: 18px;
    color: #4A4A4A;

    input{
        margin-right: 10px;
        float: left;
    }

    label{
        vertical-align: baseline;
    }

    input[type="checkbox"]{
        margin-left: 20px;
    }
}
