//  product-list.html page
//------------------------------------

.product-list-container{
    // margin-top: @header-height;
    .col-md-12;
    padding: 0px !important;

    .col-md-12{
        text-align: center;
        vertical-align: baseline;
    }

    .product-search-result{
        position: fixed;
        z-index: @zindex-navbar-fixed;
        overflow-y: auto;
        max-height: (@height-search-item+1px)*3; // +1px to see border & *3 for 3 items
        top:@header-height*2;
    }
}

.basket-bar{
    background-color: white;
    border-bottom: @gray-border;
    height:@basket-bar-height;
    line-height: @basket-bar-height;
    position: fixed;
    z-index: @zindex-navbar-fixed;
    top: @header-height;

    form{
        .form-inline;
        button{
            display: none;
        }
    }
    .transfer{
        line-height: @basket-bar-height;
        float: right;
        border-left: @gray-border;
        height: @basket-bar-height;
        button{
            float: right;
            margin-top: 13px;
        }
    }

    .basket{
        border-right: @gray-border;
    }
}

.product-container{
    display: inline-block;
    text-align: justify;
    padding: 10px 20px;
    margin: 0px 20px;

    // .center;
}

.product-box{
    margin: 40px 0px;
    border: @gray-border;
    max-width: @product-size;
    position: relative;

    p{
        padding: 10px;
        text-align: center;
        width: @product-size;
        font-size: 14px;
        height: 100px;
        margin-bottom: 0!important;
        display: table-cell;
        vertical-align: middle;
    }

    .product-img{
        width:100%;
        &:hover{
            .product-remove{
                display: inline;
            }
        }
    }

    img{
        height:auto;
        max-width: @product-size;
        width: 100%;
    }

    li{
        list-style-type: none;
        display:inline-block;
    }

    i.glyphicon{ //remove icon
        .btn-round(50px);
        .btn-red;
        cursor: pointer;
        margin-top: 50px!important;
        margin-left: 50px;
        padding-top: 11px;
        font-size: 20px;
    }

    .product-remove{
        display: none;
        // display: none;
        position: absolute;
        height: @product-size - 2px;
        width: @product-size - 2px;
        background: rgba(0,0,0,0.3);
        i{
        }
    }

    .product-desc{
        background: @light-gray;
        border-top: @gray-border;
        width: 100%;

        .quantity{
            width: 104px;
            .center;
            padding-bottom: 10px;

            input{

                text-align: center;
                cursor: default;
                color: @gray;
                background: @light-gray;
            }

            span{
                cursor: pointer;
                background: @orange;
                border-color: @dark-orange;
                border-right: 0;
                border-left: 0;
                border-radius: 0;
                color:white
            }
        }
    }

    .product-price{
        font-size: 20px;
        padding: 10px 0px;
        border-top: @gray-border;
        text-align: center;
    }


}

.sign-up-inline{
    padding:20px;
    text-align:center;
    background: @dark-gray;
    z-index: @zindex-navbar-fixed;
    top:@header-height+@basket-bar-height;
    position: fixed;
    width: 100%;

    .instruction{
        color:rgb(207,207,207);
        padding-right: 10px;
    }
    .btn-gray{
        float: right;
        padding: 1px 5px!important;
        margin-top: 4px;
    }
}

.search-item{
    list-style-type: none;
    border: @gray-border;
    border-top: 0;
    background: white;

    & *{
        max-height: @height-search-item;
    }

    ul{
        padding-left: 0!important;
        padding-top: 42px;
    }

    li{
        &.product-name{
            font-size: 18px;
        }

        list-style-type: none;
        text-align: left;
    }

    img{
        margin: 20px;
        border: 3px solid gray;
    }
    button{
        margin: 50px 20px;
        float: right;
    }
}

.search-bar{
    .search-bar-container{
        position: relative;

        i{
          position: absolute;
          right:10px;
          top:25px;
          color:@dark-gray;
          cursor:pointer;
      }
    }
}

.basket-detail{
    z-index: 99;
    position: absolute;
    background-color: white;
    border: @gray-border;
    border-top: 0;
    padding: 0px 20px 20px 20px;
    margin-right: -1px;
    ul{
        padding: 0!important; /* cancel chrome padding */
    }

    .list li:hover{
        border-bottom: 3px solid @normal-gray;
    }

    li{
        list-style-type: none;

    }
}

.unsuccessful-list{
    padding: 0;
    background-color: white;
    border: @gray-border;

    .unsuccessful-item{
        text-align: left;
        padding: 5px 10px 5px 10px;
    }

    .title{
        height:50px;
        line-height: 50px;
        font-size: 17px;
        background: @light-gray;
        border-bottom: @gray-border;
    }
}

.modal-form{
    padding: 20px;
}

.modal-action{
    a{
        float: right;
        padding-top: 10px;
    }

}

.modal-container{
    padding: 20px;

    p{
        text-align: center;
    }

    i{
        text-align: center;
        display: block;
        color: rgb(96, 199, 96);
        font-size: 51px;
    }

    .spinner{
        text-align: center;
        .center;
    }
}
