

.profile{

    padding-top: 30px;

    input{
        max-width: 300px;
    }

    .personal{

        label{
            text-align: left;
        }

        h4{
            padding-top: 20px;
        }

        .newsletter{
            padding-top: 0!important;
        }

        p{
            padding-bottom: 10px;
        }

        .btn-trans-orange{
            width: 100%;
            max-width: 300px;
            margin-top: 20px;
        }
    }
}
