<!DOCTYPE html>
{% load staticfiles %}
{% load verbatim %}

<html>
<head>
  <title>baskettt - The easiest way to do your groceries</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="apple-touch-icon" sizes="57x57" href="/static/img/favicons/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/static/img/favicons/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/static/img/favicons/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/static/img/favicons/apple-touch-icon-76x76.png">
  <link rel="icon" type="image/png" href="/static/img/favicons/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="/static/img/favicons/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="/static/img/favicons/favicon-32x32.png" sizes="32x32">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="description" content="Baskettt is the simplest way get your groceries done. It recommends you which groceries to buy and learns from your habits.">
  <meta name="keywords" content="grocery, groceries, shopping, shop, food, quick, fast, simple, easy, tesco, london, uk, delivery">

  {% if debug %}
  <link rel="stylesheet/less" href="{% static "less/style.less" %}" media="screen">
  <script type="text/javascript" src="{% static "lib/less.js" %}"></script>

  {% else %}
  <link rel="stylesheet" href="static/styles/style.css">

  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-47026823-1']);
  _gaq.push(['_setDomainName', 'baskettt.co']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

  </script>
  <script>
  !function(g,s,q,r,d){r=g[r]=g[r]||function(){(r.q=r.q||[]).push(
  arguments)};d=s.createElement(q);q=s.getElementsByTagName(q)[0];
  d.src='//d1l6p2sc9645hc.cloudfront.net/tracker.js';q.parentNode.
  insertBefore(d,q)}(window,document,'script','_gs');

  _gs('GSN-226456-D');
  </script>
  {% endif %}

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src=" {% static "html5shiv/dist/html5shiv.js" %}"></script>
      <script src=" {% static "respond/dest/respond.min.js" %}"></script>
  <![endif]-->

    <script>
      var activeUser = "{{email}}";
    </script>
    </head>
    <body id="ng-app top" ng-app="App" ng-cloak>

      {% csrf_token %}

      <div id="wrap">

        <navbar></navbar>

        {%verbatim%}
        <div class="container alert-container" ng-cloak ng-class="{'alert-margin':productListPage}" ng-controller="AlertController" >
          <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert(alert.id)" ng-bind-html="alert.msg"></alert>
        </div>
        {%endverbatim%}

        <div ng-view></div>

      </div>
<!--
      <footer>
        <div class="row">
          <div class="container">
          <div class="col-md-6">
            <img class="baskettt" src="/static/img/logob.svg" alt="">
            <p>
            The simplest way to get your groceries done.
            </p>
          </div>
          <div class="col-md-3 rackspace">
            <img src="/static/img/rackspace_black.png" alt="">

          </div>
          <div class="col-md-3">
            <a href="https://twitter.com/basketttco">
              <img class="twitter" src="/static/img/twitter.svg" alt="">
            </a>
          </div>
          </div>
        </div>
      </footer>
 -->
      <!-- build:js static/scripts/vendor.js -->
      <!-- bower:js -->

      <script src="static/lib/jquery.min.js"></script>
      <script src="static/lib/angular.min.js"></script>
      <script src="static/lib/angular-route.min.js"></script>
      <script src="static/lib/angular-sanitize.min.js"></script>
      <script src="static/lib/angular-cookies.min.js"></script>
      <script src="static/lib/angular-local-storage.min.js"></script>
      <script src="static/lib/ui-bootstrap-tpls.min.js"></script>
      <script src="static/lib/angular-animate.min.js"></script>
      <script src="static/lib/angulartics.min.js"></script>
      <script src="static/lib/angulartics-ga.min.js"></script>
      <script src="static/lib/jquery.ui.core.js"></script>
      <script src="static/lib/jquery.ui.widget.js"></script>
      <script src="static/lib/jquery.ui.mouse.js"></script>
      <script src="static/lib/jquery.ui.slider.js"></script>
      <script src="static/lib/slider.js"></script>
      <script src="static/lib/json3.min.js"></script>
      <script src="static/lib/fastclick.js"></script>
      <script src="static/lib/lodash.min.js"></script>
      <script src="static/lib/hammer.min.js"></script>
      <!-- endbower -->
      <!-- endbuild -->

      <!-- build:js static/scripts/scripts.js -->
      <script src="static/app/js/app.js"></script>

      <script src="static/app/js/controllers/alert_controller.js"></script>
      <!-- <script src="static/app/js/controllers/home_controller.js"></script>-->
      <script src="static/app/js/controllers/login_controller.js"></script>
      <script src="static/app/js/controllers/modal_controller.js"></script>
      <script src="static/app/js/controllers/onboarding_controller.js"></script>
      <script src="static/app/js/controllers/baskets_show_controller.js"></script>
      <script src="static/app/js/controllers/baskets_create_controller.js"></script>
      <script src="static/app/js/controllers/profile_controller.js"></script>
      <script src="static/app/js/controllers/registration_controller.js"></script>
      <script src="static/app/js/controllers/reset_controller.js"></script>
      <script src="static/app/js/controllers/reset_confirm_controller.js"></script>
      <!-- <script src="static/app/js/controllers/profile_basket_controller.js"></script>-->

      <script src="static/app/js/services/alert_service.js"></script>
      <script src="static/app/js/services/basket_service.js"></script>
      <script src="static/app/js/services/local_storage_service.js"></script>
      <script src="static/app/js/services/preference_service.js"></script>
      <script src="static/app/js/services/product_service.js"></script>
      <script src="static/app/js/services/tesco_service.js"></script>
      <script src="static/app/js/services/user_service.js"></script>
      <script src="static/app/js/services/cart_service.js"></script>
      <script src="static/app/js/services/gesture_service.js"></script>

      <script src="static/app/js/directives/autocomplete_directive.js"></script>
      <script src="static/app/js/directives/click_directive.js"></script>
      <script src="static/app/js/directives/navbar_directive.js"></script>
      <script src="static/app/js/directives/ng_esc_directive.js"></script>
      <script src="static/app/js/directives/onboard_people_directive.js"></script>
      <script src="static/app/js/directives/pw_check_directive.js"></script>
      <script src="static/app/js/directives/remove_directive.js"></script>
      <script src="static/app/js/directives/scroll_to_directive.js"></script>
      <script src="static/app/js/directives/signup_directive.js"></script>
      <script src="static/app/js/directives/ng_blur_directive.js"></script>
      <script src="static/app/js/directives/drag_and_drop_directive.js"></script>

      <script src="static/app/js/filters/imglarge_filter.js"></script>
      <script src="static/app/js/filters/order_object_by_filter.js"></script>
      <script src="static/app/js/filters/price_filter.js"></script>
      <script src="static/app/js/filters/link_filter.js"></script>


      <!-- endbuild -->

    </body>
    </html>
