<div ng-show="toggleError" class="modal-container">
    <div class="alert alert-info">
        {{errorMessage}}
    </div>
</div>

<div ng-show="loggedin">

    <div ng-show="sendTescoForm">
        <form class="modal-form" ng-submit="sendToTesco()" name="tescoForm" >
            <div class="form-group instruction">
                <h4>Send your basket to Tesco.</h4>
                <p>If you don't have a Tesco account you can register <a href="https://secure.tesco.com/register/" target="_blank">here</a>.</p>

            </div>
            <div class="form-group">
                <input type="email" class="text-input" placeholder="Enter email" ng-model="tescoCredential.email" required>
            </div>

            <div class="form-group">
                <input type="password" class="text-input" placeholder="Password" ng-model="tescoCredential.password" required>
            </div>

            <button type="submit" class="btn-trans-orange">Send</button>
        </form>
    </div>

    <div ng-show="loading" class="modal-container">
        <div class="spinner"></div> <br>
        <p>We're currently transfering your basket. This can take a few seconds.</p>
    </div>

    <div ng-hide="sendTescoForm">
        <div ng-hide="loading" class="modal-container">
            <div ng-show="unsuccessfulTransfer">
                <div class="row">
                    <div class="col-md-12">
                        <div class="unsuccessful-list">
                            <div class="title">
                                <i class="glyphicon glyphicon-ok-sign"></i>
                                <p>
                                Your basket has been successfully transfered, however, the following items could not be sent. You can now login to <a href="https://secure.tesco.com/register/account.aspx" target="_blank">Tesco</a> to order your groceries.
                                </p>
                            </div>
                            <div ng-repeat="item in unsuccessfulItems" class="unsuccessful-item">
                                <img ng-src="{{item.img}}"  alt="">
                                <div class="name">{{item.name}} <span>(Not added)</span></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div ng-hide="unsuccessfulTransfer">
                <i class="glyphicon glyphicon-ok-sign"></i>
                <p>Your basket has been successfully transfered. You can now login to <a href="https://secure.tesco.com/register/account.aspx" target="_blank">Tesco</a> to order your groceries.</p>
            </div>
        </div>
    </div>

</div>

<div ng-hide="loggedin">
    <div ng-show="signup">
        <form class="modal-form" ng-submit="signup()" name="signupForm">
            <div class="form-group instruction">
                <h4>Sign up to baskettt.</h4>
                <p>You need to sign up to transfer your basket. If you didn't get your beta invite, just fill in the following form and we'll send you an email when you're invited.</p>
            </div>
            <div class="form-group">
                <input type="email" class="text-input" placeholder="Enter email" ng-model="user.email" required>
            </div>

            <div class="form-group">
                <input type="password" class="text-input" placeholder="Password (8 characters)" ng-model="user.password" id="password1" minlength="8" required>
            </div>
            <div class="form-group">
                <input type="password" class="text-input"  placeholder="Confirm Password" ng-model="user.passwordConfirmation" id="password2" minlength="8" required>
            </div>

            <div class="modal-action">
                <a href="javascript:;" ng-click="signup = false">Already registred? Sign in.</a>
                <button type="submit" class="btn-trans-orange">Sign up</button>
            </div>
        </form>
    </div>

    <div ng-hide="signup">
        <form class="modal-form" ng-submit="login()" name="loginForm" >
            <div class="form-group instruction">
                <h4>Login to baskettt.</h4>
            </div>
            <div class="form-group">
                <input type="email" class="text-input"placeholder="Enter email" ng-model="user.email" required>
            </div>

            <div class="form-group">
                <input type="password" class="text-input" placeholder="Password" ng-model="user.password" required>
            </div>

            <div class="modal-action">
                <a href="javascript:;" ng-click="signup = true">Not a member yet? Register.</a>
                <button type="submit" class="btn-trans-orange">Sign in</button>
            </div>
        </form>
    </div>
</div>

