<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed" >
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand navbar-brand-logo" href="/">
			<img src="/static/img/logob.svg" alt="">
		</a>
	</div>

	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'">
		<ul class="nav navbar-nav navbar-right" ng-cloak>
			<li><a href="#/basket" class="profile-link" ng-show="userIsLoggedIn()"><i class="glyphicon glyphicon-shopping-cart"></i> My basket </a></li>
			<li><a href="#/login" class="profile-link" ng-hide="userIsLoggedIn()" >Login</a></li>
			<!-- <li><a href="#/signup" class="btn-login" ng-hide="userIsLoggedIn()"> Sign up </a></li> -->
			<li><a class="btn-login" ng-click="logout()" ng-show="userIsLoggedIn()" >Logout</a></li>
		</ul>
	</div><!-- /.navbar-collapse -->
	</div>
</nav>
