<form class="form-inline sign-up-inline" ng-submit="sendToTesco()" ng-show="tescoIsVisible" name="tescoForm" >
	<div class="form-group instruction">
		Send your basket to Tesco
	</div>
	<div class="form-group">
		<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" ng-model="tescoCredential.email" required>
	</div>

	<div class="form-group">
		<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" ng-model="tescoCredential.password" required>
	</div>

	<button type="submit" class="btn-orange">Send</button>
	<button class="btn-gray" ng-click="closeTescoForm()"><i class="glyphicon glyphicon-remove"></i></button>
</form>
