<div class="basket-create">
<!--  Total {{ cartTotal }}
 -->
  <div class="sidebar">
    <div class="search-bar">
    <div class="sidebar-max">

      <div class="search-input">
        <autocomplete data="autocompleteResults" on-type="autoComplete" clear="clearResult"></autocomplete>
      </div>
      <ul class="search-filter">
          <li>
            <u>baskets</u>
          </li>
        <li>products</li>
      </ul>
    </div>
    </div>
    <div class="search-results">
      <div class="search-title" ng-hide="!searchResults.length">
        products
      </div>
      <ul class="search-list">
          <li class="search-item" ng-repeat="product in searchResults">
            <img ng-src="{{product.img}}"  alt="">
            <div class="search-item-title">{{ product.name }}</div>
            <div class="search-item-price">&pound;{{ product.price | price}}</div>
            <div class="search-item-quantity">{{ product.quantity }}</div>
            <button class="btn-add-search-item" ng-click="addProduct(product)">
              Add
            </button>
            <select ng-model="product.selectedbasketName" ng-options="b for b in basketNameList"></select>
          </li>
      </ul>
    </div>

  </div>

  <div class="main-panel">
    <div class="basket" ng-show="!cart.length">

      <div class="basket-title">
        <form ng-submit="addBasket()" >
          <input type="text" ng-model="newBasketName" placeholder="Type new basket name" id="new-basket-input">
          <input type="submit" value="Submit">
        </form>
      </div>

      <p>
        ^ <br>
        | <br>
        | <br>

        Add a name to your basket. Ex:"Weekly groceries, healthy snacks, BBQ with friend..."
      </p>

    </div>

    <div class="basket" ng-repeat="basket in cart">

      <div class="basket-title">
        <div class="basket-title-icon"></div>

        <form ng-submit="doneEditing(basket)" ng-show="basket.editing">
          <input type="text" ng-model="basket.name" ng-blur="doneEditing(basket)">
          <input type="submit"value="Submit">
        </form>

        <div class="basket-title-name" ng-dblclick="startEditing(basket)" ng-hide="basket.editing">{{ basket.name }}</div>
        <i class="glyphicon glyphicon-floppy-disk"></i>
        <div class="basket-title-price">{{ basket.total}}</div>
      </div>

      <ul class="basket-list">
          <div class="empty-basket" ng-show="!basket.products.length">
            Your basket is empty. You can add products or a pre-existing basket with the search bar on the left
          </div>
          <li class="basket-item" ng-repeat="product in basket.products">
            <img ng-src="{{product.img}}"  alt="">
            <div class="basket-item-name">{{ product.name }}</div>
            <div class="basket-item-price">{{ product.price }}</div>
            <div class="basket-item-quantity quantity">
              <div class="input-group">
                <span class="input-group-addon" ng-click="removeProduct(product)">-</span>
                <input type="text" class="form-control" ng-model="product.quantity" disabled="disabled">
                <span class="input-group-addon" ng-click="addProduct(product)">+</span>
              </div>
            </div>
          </li>
      </ul>

    </div>

  </div>

</div>



<!-- <div class="loading-basket" ng-show="loading">
	<div class="spinner"></div>
	<p>Building your basket.</p>
</div> -->
<!--
<div class="row hidden-xs hidden-sm">
	<div class="col-md-12 basket-bar">
		<div class="row">
			<div class="container">

				<div class="col-md-3 basket">
					Total: <b>&pound;{{basketTotal()}}</b>
				</div>

				<div class="col-md-6 search-bar">
					<div class="search-bar-container">
						<autocomplete data="autocompleteResult" on-type="autoComplete" clear="clearResult"></autocomplete>
					</div>
				</div>

				<div class="col-md-3 transfer">
					<button class="btn-save" ng-click="transferBasket()">
						Save
					</button>
					<button class="btn-transfer" ng-click="transferBasket()">
						Checkout
					</button>
				</div>

			</div>
		</div>
	</div>
</div>
 -->




<!-- <div class="row">
	<div class="product-list-container">
		<div class="product-search-result col-md-6 col-md-offset-3">
			<li class="search-item no-result">
				<i class="glyphicon glyphicon-exclamation-sign"></i>  <br> We couldn't find what you were looking for.
			</li>
			<li ng-repeat="product in search_result" class="search-item">
				<div class="row">
					<div class="col-md-2">
						<img ng-src="{{product.img}}"  alt="">
					</div>
					<div class="col-md-7">
						<ul>
							<li class="product-name">{{ product.name }}</li>
							<li> &pound;{{ product.price | price}}</li>
						</ul>
					</div>
					<div class="col-md-3">
						<button ng-show="product.quantity == 0" class="btn-orange" ng-click="addProduct(product)">Add</button>

						<div ng-hide="product.quantity == 0" class="quantity input-group">
							<span class="input-group-addon" ng-click="removeProduct(product)">-</span>
							<input type="text" class="form-control" ng-model="product.quantity" disabled="disabled">
							<span class="input-group-addon" ng-click="addProduct(product)">+</span>
						</div>
					</div>
				</div>
			</li>
		</div>

		<div class="row">
			<div class="col-md-12">

				<div class="basket-message" ng-show="basketMessage">
					<p>
						We have new groceries just for you!
					</p>
					<button ng-click="getBasket()" class="btn-new-basket">
						Get my new basket
					</button>
				</div>

				<div ng-repeat="department in products track by $index">
				<h3 ng-class="{departmentpadding: $index !== 0}">{{ department.name }} </h3>
				<div class="product-container fade-item" ng-repeat="product in department.products">
					<div class="product-box" >
						<div class="product-img">
							<div class="product-button-hover">
								<div class="product-remove">
									<i remove></i>
								</div>
								<div class="product-source">
									<a ng-href="http://www.tesco.com{{product.link}}" target="_blank">
										<i class="glyphicon glyphicon-link"></i>
									</a>
								</div>
							</div>
							<img ng-src="{{product.img | imglarge}}" alt="" class="animated:hover bounce">
						</div>

						<div class="product-desc">
							<div class="product-name">
								<p>
									{{product.name}}
								</p>
							</div>
							<div class="product-price">
								&pound;{{getTotal(product.price, product.quantity)}}
							</div>
							<div class="quantity">
								<div class="input-group">
									<span class="input-group-addon" ng-click="removeProduct(product)">-</span>
									<input type="text" class="form-control" ng-model="product.quantity" disabled="disabled">
									<span class="input-group-addon" ng-click="addProduct(product)">+</span>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
			</div>
		</div>
	</div>
</div>
 -->
