<div class="row disclaimer">

	<div class="col-md-7">
		<!-- <div class="disclaimer-logo"></div> -->
		<div class="disclaimer-quote">
			<h1>The simplest way to get your groceries done.</h1>
			<p>Tell us what you like and we'll take care of the rest. Start spending time on what matters. </p>
			<button href="javascript:;" ng-click="scrollTo('more')">Learn more</button>
		</div>

	</div>

	<div class="col-md-5 beta-container">
		<p>Subscribe to our private beta</p>
		<div class="beta-alert" ng-show="betaSuccess">Successfully subscribed</div>
		<form ng-submit="registerForBeta()" name="betaForm" class="">
			<input type="email" ng-model="email" class="form-control" placeholder="Your email"> <br>
			<input type="submit" class="btn-orange" value="Subscribe">
		</form>
		<div class="condition">You'll get an email with an invite as soon as we open the beta.</div>
	</div>
</div>

<div class="row get-started">
	<div class="col-md-12">
		<div class="gs-container">
			<a href="#/onboarding/1">
				<button class="btn-cta">Try me now</button>
			</a>
		</div>
	</div>
</div>
<div class="row features" id="more">
	<div class="col-md-4">
		<i class="glyphicon glyphicon-cutlery"></i>
		<p>Get a tailor-made grocery basket according to your eating preferences and your budget.</p>
	</div>
	<div class="col-md-4">
		<i class="glyphicon glyphicon-shopping-cart"></i>
		<p>Order your groceries directly from Tesco.</p>
	</div>
	<div class="col-md-4">
		<i class="glyphicon glyphicon-time"></i>
		<p>Everytime you come back, we'll give you the products you need the most.</p>
	</div>
</div>
