<div class="row disclaimer">
	<div class="container">
		<div class="spacing"></div>
		<div class="col-md-12 col-lg-5">
			<div class="disclaimer-quote">
				<h1>The simplest way to  <br> get your groceries done.</h1>
				<a href="#/baskets/create" ng-hide="isLoggedIn">
					<button class="btn-try-now">Try now</button>
				</a>
				<button class="btn-learn-more" scroll-to="#more">Learn more</button>
			</div>

		</div>

		<div class="col-md-12 col-lg-7">
			<img src='/static/img/grocery-bag.png' alt="">
		</div>
	</div>
</div>


<div class="row features" id="more">
	<div class="container">
	That content

	</div>
</div>


