<div class="row disclaimer">
	<div class="container">
		<div class="spacing"></div>
		<div class="col-md-12 col-lg-5">
			<div class="disclaimer-quote">
				<h1>The simplest way to  <br> get your groceries done.</h1>
				<a href="#/start/" ng-hide="isLoggedIn">
					<button class="btn-try-now">Try now</button>
				</a>
				<button class="btn-learn-more" scroll-to="#more">Learn more</button>
			</div>

		</div>

		<div class="col-md-12 col-lg-7">
			<img src='/static/img/grocery-bag.png' alt="">
		</div>
	</div>
</div>

<div class="row beta-container">
	<div class="container">
		<div class="col-md-6" ng-hide="betaSuccess">
			<p>We're currently in a private beta. Register to get an invite.</p>
		</div>
		<div class="col-md-6" ng-hide="betaSuccess">
			<form ng-submit="registerForBeta()" name="betaForm" class="beta-form" novalidate>
				<div class="form-group" ng-class="{ 'has-error' : betaForm.email.$invalid && !betaForm.email.$pristine }" >
					<input type="email" name="email" ng-model="email" class="beta-email" placeholder="Your email">
				</div>
				<div class="form-group">
					<input type="submit" class="btn-register-beta" value="Register" ng-disabled="betaForm.$invalid">
				</div>
			</form>

		</div>
		<div class="col-md-12 beta-success" ng-show="betaSuccess">
				Thank you for registering! Feel free to share your excitement on Twitter.
				<div class="twitter-btn">
				<a href="https://twitter.com/share" class="twitter-share-button" data-url="https://baskettt.co/" data-text="Can't wait to get my baskettt invite." data-via="basketttco" data-size="large">Tweet</a>
				</div>
		</div>
	</div>
</div>

<div class="row features" id="more">
	<div class="container">
		<div class="row">
			<div class="col-md-12 motto">
				Tell us what you like to eat and we'll take care of the rest.
				<br>
				Start spending time on what matters.
			</div>
			<hr>

		</div>
		<div class="row feature-description">
			<div class="col-md-6">
				<header>Tailor-made basket</header>
				<article>Tell us your eating preferences and how you manage your groceries. We will create a basket  just for you.</article>
			</div>
			<div class="col-md-6 hidden-xs">
				<img src="/static/img/feature1.png" alt="">
			</div>
		</div>
		<div class="row feature-description">
			<div class="col-md-6 hidden-xs">
				<img src="/static/img/feature2.png" alt="">
			</div>
			<div class="col-md-6">
				<header>Make it personal</header>
				<article>Add you favorite products to your basket. Next time you come, we will recommend you the products you love.</article>
			</div>

		</div>
		<div class="row feature-description">
			<div class="col-md-6">
				<header>Keep your habits</header>
				<article>When you're done, you can directly order from your favorite shop. We currently only support Tesco.</article>
			</div>
			<div class="col-md-6 feature-3 hidden-xs">
				<img src="/static/img/feature3.png" alt="">
			</div>
		</div>

	</div>
</div>

<div class="row quote">
	<div class="col-md-12">
		Make your life <b>easier</b> <br>
		<a href="#/start/">
			<button class="btn-try-footer">Try now</button>
		</a>
	</div>
</div>

