<div class="container">
  <div class="row onboard-container" onboard>
    <div class="col-md-12">

      <div class="onboard-title">
        Join baskettt.
      </div>

      <div class="onboard-instruction">
        <span class="number">1</span> <header>What is your favorite food (pick multiples)?</header>
      </div>

      <div class="onboard-cuisine" >
        <div class="onboard-box" ng-repeat="cuisine in cuisines">
          <div class="onboard-image" ng-class="{'selected':selectedStatus}" click>
            <img ng-src="/static/img/{{cuisine.image}}" alt="">
            <p>{{cuisine.name}}</p>
          </div>
        </div>
      </div>

      <div class="onboard-instruction">
        <span class="number">2</span> <header>What is your cooking style?</header>
      </div>

      <div class="slider">
        <div ui-slider min="0" max="100" ng-model="cookingValue"></div>
        <input type="text" ng-model="cookingValue" />
      </div>


      <div class="first">My meal plan</div>
      <div class="explanation">
        How much food do you need? <br>
        Fill in your meal plan and <br> we'll make sure you got enough.
      </div>
      <form class="choice-box" ng-submit="saveData()">
        <ul>
          <li>

            <input type="text" class="form-control onboard-people"  ng-model="preference.people">people
          </li>
          <li>

            <input type="text" class="form-control onboard-people" ng-model="preference.days">days

          </li>
          <li>
            <input type="text" class="form-control onboard-money" placeholder="" ng-model="preference.budget">&pound;

          </li>
        </ul>

        <input type="submit" class="btn-onboarding" value="Generate my basket">
      </form>
  </div>
  </div>
</div>
