<div class="loading-basket" ng-show="loading">
	<div class="spinner"></div>
	<p>Building your basket.</p>
</div>

<div class="row hidden-xs hidden-sm">
	<div class="col-md-12 basket-bar">
		<div class="row">
			<div class="container">

				<div class="col-md-3 basket">
					Total: <b>&pound;{{basketTotal()}}</b>
				</div>

				<div class="col-md-6 search-bar">
					<div class="search-bar-container">
						<autocomplete data="results" on-type="autoComplete" clear="clearResult"></autocomplete>
					</div>
				</div>

				<div class="col-md-3 transfer">
					<button class="btn-transfer" ng-click="transferBasket()">
						Checkout
					</button>
				</div>

			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="product-list-container">
		<div class="product-search-result col-md-6 col-md-offset-3">
			<li class="search-item no-result"><i class="glyphicon glyphicon-exclamation-sign"></i>  <br> We couldn't find what you were looking for. </li>
			<li ng-repeat="product in search_result" class="search-item">
				<div class="row">
					<div class="col-md-2">
						<img ng-src="{{product.img}}"  alt="">
					</div>
					<div class="col-md-7">
						<ul>
							<li class="product-name">{{ product.name }}</li>
							<li> &pound;{{ product.price | price}}</li>
						</ul>
					</div>
					<div class="col-md-3">
						<button ng-show="product.quantity == 0" class="btn-orange" ng-click="addProduct(product)">Add</button>

						<div ng-hide="product.quantity == 0" class="quantity input-group">
							<span class="input-group-addon" ng-click="removeProduct(product)">-</span>
							<input type="text" class="form-control" ng-model="product.quantity" disabled="disabled">
							<span class="input-group-addon" ng-click="addProduct(product)">+</span>
						</div>
					</div>
				</div>
			</li>
		</div>

		<div class="row">
			<div class="col-md-12">
				<!-- <div class="category">Fresh food</div> -->
				<div ng-repeat="product in products" class="product-container fade-item">
					<div class="product-box" ng-class="{'selected_product':selectedStatus}">
						<div class="product-img">
							<div class="product-remove">
								<i remove></i>
							</div>
							<img ng-src="{{product.main.img | imglarge}}" alt="" class="animated:hover bounce">
						</div>

						<div class="product-desc">
							<div class="product-name">
								<p>{{product.main.name}}</p>
							</div>
							<div class="product-price">
								&pound;{{getTotal(product.main.price, product.quantity)}}
							</div>
							<div class="quantity">
								<div class="input-group">
									<span class="input-group-addon" ng-click="removeProduct(product)">-</span>
									<input type="text" class="form-control" ng-model="product.quantity" disabled="disabled">
									<span class="input-group-addon" ng-click="addProduct(product)">+</span>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
