
<div class="row">
  <div class="container">


      <div class="col-md-12 profile">
        <div class="personal">
            <h3>My baskets</h3>
            <div class="my-basket-list">
              <div class="my-basket" ng-repeat='basket in baskets'>
                <div class="thumbnail">
                  <div class="thumbnail-image"></div>
                </div>
                <div class="basket-title">{{basket.name}}</div>
                <div class="basket-link">{{basket | link}}</div>
                <a class="btn-basket-more" href="#/baskets/{{basket.hash}}">See more</a>
              </div>
              <div class="no-basket" ng-show="!baskets.length">
                <h5>No basket. Create one?</h5>
                <a href="#/baskets/create" class='btn-trans-orange'>Create a basket</a>
              </div>
            </div>

        </div>


      </div>

    </div>
  </div>
