<div class="row">
    <div class="container simple-form">
        <h4>Reset your password</h4>
        <form class="form-container" ng-submit="sendNewPassword()" name="passwordResetConfirmForm" novalidate>
            <div class="form-group">

                <label>Password</label>
                <input type="password" class="text-input" id="password1"  placeholder="Password" required="" ng-model="password1">
            </div>
            <div class="form-group">
                <label>Password confirmation</label>
                <input type="password" class="text-input" id="password2" placeholder="Password confirmation" required="" ng-model="password2" pw-check="password1">
            </div>

            <div class="form-group">
                <input type="submit" class="btn-trans-orange" value="Reset password">
            </div>

        </form>
    </div>
</div>
