<div class="row">
	<div class="container simple-form">
    <h4>Create your account</h4>
    <form class="form-container" ng-submit="signup()" name="signupForm">
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" ng-model="user.email">
      </div>

      <div class="form-group">
        <label for="exampleInputPassword1">Password (minimum length: 8)</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" ng-model="user.password" ng-minlength="8">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Confirm your password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" ng-model="user.passwordConfirmation"  ng-minlength="8">
      </div>

      <button type="submit" class="btn-orange">Sign up</button>
      <p>Already have an account? <a href="#/login">Log in</a></p>
    </form>
  </div>
</div>
