<div class="container">
	<div class="row">
		<div class="col-md-12">
			<ul class="onboard-progress-bar">
				<li class="progress-box" ng-class="{active:isActive(1)}">1</li>
				<li class="progress-box" ng-class="{active:isActive(2)}">2</li>
				<li class="progress-box" ng-class="{active:isActive(3)}">3</li>
				<li class="onboard-next"><a href="{{getNextPage()}}" class="btn btn-gray" ng-click="saveData()">></a></li>
			</ul>
		</div>
	</div>
{{preferences}}
	<div class="row">
		<div class="col-md-12 onboard-title">
				<div ng-switch on="page">
				<div ng-switch-when="1">I like to eat</div>
				<div ng-switch-when="2">
					I need groceries for <input type="text" class="form-control onboard-people" placeholder="2" ng-model="preference.people"> people?
				</div>
				<div ng-switch-when="3">I want to spend <input type="text" class="form-control onboard-money" ng-model="preference.budget">&pound;</div>
				</div>
		</div>
	</div>

	<div class="row onboard-box-container" ng-switch on="page">
		<div ng-switch-when="1">
			<div class="onboard-box" ng-repeat="cuisine in cuisines">
				<div class="onboard-image" ng-class="{'selected':selectedStatus}" click>
					<img ng-src="/static/img/{{cuisine.image}}" alt="">
					<p>{{cuisine.name}}</p>
				</div>
			</div>
		</div>
		<div ng-switch-when="2">
		</div>
		<div ng-switch-when="3">
		</div>
	</div>

</div>


