<!DOCTYPE html>
{% load staticfiles %}
{% load verbatim %}

<html ng-app="App">
<head>
	<title>Octopus</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Bootstrap -->
	<link rel="stylesheet/less" href="{% static "bootstrap/less/bootstrap.less" %}" media="screen">
	<link rel="stylesheet/less" href="{% static "less/style.less" %}" media="screen">

	<script type="text/javascript" src="{% static "lib/less.js" %}"></script>

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>

      <script src=" {% static "lib/html5shiv.js" %}"></script>
      <script src=" {% static "lib/respond.min.js" %}"></script>
      <![endif]-->

    </head>
    <body>
      <div id="wrap">
        <nav class="navbar navbar-default" role="navigation">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">baskettt.co</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Home</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#">Login</a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </nav>
        

        <div ng-view></div>

      </div>
      <footer>
        <ul>
          <li ng-class="{active:getActive('/home')}"><a href="#/home">Home</a></li>
        </ul>
      </footer>

      <script src="{% static "lib/angular.min.js" %}"></script>
      
      <script src="{% static "app/js/app.js" %}"></script>
      <script src="{% static "app/js/controllers.js" %}"></script>
      <script src="{% static "app/js/services.js" %}"></script>
      <script src="{% static "app/js/directive.js" %}"></script>
      <script src="{% static "app/js/filters.js" %}"></script>

      <script src="//code.jquery.com/jquery.js"></script>
      <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/js/bootstrap.min.js"></script>

    </body>
    </html>