<div class="row-fluid">
	<div class="disclaimer">
		<div class="disclaimer__logo"></div>
	</div>
</div>

<div class="row-fluid quote">
	Your personal shopping assistant
</div>


<div class="row features">
	<div class="container">
		<div class="col-md-4">
			<h3>Go shopping</h3>
			<p>Spend less money with our budget management algorithm</p>
		</div>
		<div class="col-md-4">
			<h3>Do something</h3>
			<p>Keep your diet healthy and relevant to your eating habits</p>
		</div>
		<div class="col-md-4">
			<h3>Blah</h3>
			<p>Plan your shopping in a few clicks with our recommandations</p>
		</div>
	</div>
</div>

<div class="row">
	<div class="get-started">
		<button class="btn btn--cta">Get Started</button>
	</div>
</div>