<!DOCTYPE html>
{% load staticfiles %}

<html>
<head>
	<title>Octopus</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Bootstrap -->

	<link rel="stylesheet/less" href="{% static "bootstrap/less/bootstrap.less" %}" media="screen">
	<link rel="stylesheet/less" href="{% static "less/style.less" %}" media="screen">

	<script type="text/javascript" src="{% static "js/less.js" %}"></script>

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>

      <script src=" {% static "js/html5shiv.js" %}"></script>
      <script src=" {% static "js/respond.min.js" %}"></script>
      <![endif]-->
  </head>
  <body>
  	<div class="container">



  		<div class="row">
  			<div class="col-md-12">
  				<h1>OCTOPUS</h1>
			{% block content%}{% endblock content%}
  			</div>
  		</div>
  	</div>
  	

  </body>
  </html>