<div class="row disclaimer">
	<div class="disclaimer__logo"></div>
	<h3>We'll take care of it.</h3>
</div>

<div class="row features">
	<div class="container">
		<div class="col-md-4">
			<i class="glyphicon glyphicon-cutlery"></i>
			<p>Choose your diet and eating habits.</p>
		</div>
		<div class="col-md-4">
			<i class="glyphicon glyphicon-check"></i>
			<p>  Pick your favorite items from your generated basket.</p>
		</div>
		<div class="col-md-4">
			<i class="glyphicon glyphicon-shopping-cart"></i>

			<p>Checkout and buy your groceries.</p>
		</div>

	</div>
</div>

<div class="row cta">
	<div class="get-started">
		<a href="#/onboarding/1">
		<button class="btn btn-orange btn-cta">Get Started</button>
		</a>
	</div>
</div>
