//	Body
//------------------------------------
html,body{
	background-color:white;	
	height: 100%;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -@footer-height;
  /* Pad bottom by footer height */
  padding: 0 0 @footer-height;
}

a:hover{
	text-decoration: none;
}
.row{
	margin-left:0!important;
	margin-right:0!important;
}
//	Header
//------------------------------------
.header{
	height:40px;
	background-color: #d3d3d3;
	li{
		display:inline-block;
		padding-top: 10px;
	}
	a{
		color: black;
	}
}

.navbar{
	margin-bottom: 0;
	background-color: rgb(71,51,161);
	border: 0;
	border-radius: 0px;
}

.btn-login{
	border: 2px solid white;
	border-radius: 5px;
	margin: 15px;
	width: 100px;
	text-align: center;
	&:hover{
		color:white!important;
	}
}

.navbar-brand-logo{
}

//  Content
//------------------------------------
.suggestion{
	background: url("/static/img/bg-suggestion.png");
	background-repeat: repeat;
	padding: 20px 0px;
}

.suggestion-box{
	margin: 10px;
	background-color:white;
	padding: 20px;
	border: 1px solid #d3d3d3;
	border-radius: 7px;
	font-size: 50px;
	text-align: center;
}
.disclaimer{
	text-align: center;
	background-color: #4833A1;
}

.disclaimer__logo{
	margin-top: 100px;
	background: url("/static/img/logotest.png");
	width: 240px;
	height: 81px;
	.center;
}

.quote{
	text-align: center;
	height:97px;
	padding-top: 30px;
	font-family: Futura;
	font-size: 24px;
	background-color: #EFEFEF;
	color: #898989;
	border-bottom: 3px solid #e2e2e2;
}

.features{
	padding: 70px 0px;
	text-align: center;
	background-color: #FEFEFE;
	border-bottom: 2px solid #f3f3f3;
	p{
		width: 200px;
		text-align: justify;
		.center;
	}
	span{
		font-size: 40px;
	}
}

.get-started{
	padding: 100px 0px;
	.center;
	text-align: center;
}

.btn--cta{
	background: white;
	color:#4833A1;
	border-radius: 5px;
	width: 250px;
	height: 62px;
	font-size: 18px;
}

.food-type{
	margin-top: 20px;
	text-align: right;
}

.checkout-container button{
	float: right;
	margin-bottom: 20px;
}

.status-bar{
	padding-top: 20px;
	li{
		display:none;
	}
	li.active{
		display: inline-block;
	}
}
//  Recipe page
//------------------------------------
.recipe-box{
	margin: 10px;
	background-color:white;
	padding: 20px;
	border: 1px solid #d3d3d3;
	border-radius: 7px;
	width:200px;
	height:250px;
	float: left;
	img{
		max-height: 150px;
		margin: 0 auto;
	}
}

.selected {
    border: 3px solid rgb(158, 195, 160);
}

.search-box{
	border: 1px solid #d3d3d3;
	padding-top:15px;
	background-color: #EEEEEE;
	input{
		max-width: 300px;
	}
	label{
		text-align: center!important;
	}
}

.ing-list{
	background-color: #EEEEEE;
}

//  Product page
//------------------------------------
.product-box{
	margin: 10px;
	background-color:white;
	padding: 20px;
	border: 1px solid #d3d3d3;
	border-radius: 7px;
	li{
		list-style-type: none;
		display: inline-block;
		&:nth-child(2){
			float: right;
		}
	}
}

.selected {
    border: 3px solid rgb(158, 195, 160);
}

//  Product page
//------------------------------------

.form-container{
	max-width:400px;
	margin: 50px auto 0px auto;

}
//  Footer
//------------------------------------
footer{
	background-color: #333333;
	height:@footer-height;
	font-size: 18px;
	ul{
		margin:0;
		li{
			display: inline-block;
			a{
				color:black;
			}
		}
	}
	
}
