//	Body
//------------------------------------
body{
	background-color:white;	
}

a:hover{
	text-decoration: none;
}

//	Header
//------------------------------------
.header{
	height:40px;
	background-color: @gray;
	li{
		display:inline-block;
		padding-top: 10px;
	}
	a{
		color: white;
	}
}

//  Content
//------------------------------------
.disclaimer{
	text-align: center;
	padding:50px 0px;
}

.disclaimer__logo{
	background: url("/static/img/logo.png");
	width:538px;
	height:152px;
	.center;
}

.disclaimer__subtitle{
	color:@gray;
	font-size:32px;
}

.search-bar{
	padding: 50px 0px;
	text-align: center;
}

//  Products
//------------------------------------
.product-box{
	background-color: white;
	width:30%;
}