<div class="row disclaimer">
	<div class="disclaimer__logo"></div>
	<div class="get-started">
		<a href="#/recipe">
		<button class="btn btn--cta">Get Started</button>
		</a>
	</div>
</div>

<div class="row features">
	<div class="container">
		<div class="col-md-4">
			<p> <span>1.</span> Choose your diet and eating habits.</p>
		</div>
		<div class="col-md-4">
			<p> <span>2.</span> Pick your favorite items from your generated basket.</p>
		</div>
		<div class="col-md-4">
			<p><span>3.</span> Checkout and buy your groceries.</p>
		</div>
	</div>
</div>

<div class="row suggestion">
	<div class="col-md-3">
		<div class="suggestion-box">
			<i class="glyphicon glyphicon-shopping-cart "></i>
		</div>
	</div>
	<div class="col-md-3">
		<div class="suggestion-box">
			<i class="glyphicon glyphicon-cloud"></i>
		</div>
	</div>
	<div class="col-md-3">
		<div class="suggestion-box">
			<i class="glyphicon glyphicon-cutlery"></i>
		</div>
	</div>
	<div class="col-md-3">
		<div class="suggestion-box">
			<i class="glyphicon glyphicon-eye-open"></i>
		</div>
	</div>
</div>

